<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>남자 배우 리스트</h1>
    <table id="ManactorTable" border="1">
        <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
                <th>커리어</th>
            </tr>
        </thead>
        <tbody>
            <% man.forEach(actor => { %>
                <tr>
                    <td><%= actor.userName %></td>
                    <td><%= actor.age %></td>
                    <td>
                        <% actor.careers.forEach(career => { %>
                            <p>장르 : <%= career.categor %> - <%= career.title %> (<%= career.role %>)</p>
                        <% }) %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
    <br /><br />
    <a href="/">전체 배우 리스트</a>
</body>
</html>